/* COLORS */
$color-black: #000;
$color-white: #fff;
$color-active: #1b8dde;
$color-grey: #d0d2d6;
$color-primary: #007BFF;
$color-danger: #DC3545;
$color-success: #28A745;
$color-theme: #52489C;
$color-inactive: #8E9AAF;

/* BREADCRUMB */
$breadcrumb-deliver: '/';
$breadcrumb-space: .5rem;
